.great-input {
  border: 1px solid black;
  border-radius: 3px;
  height: 35px;

  text-align: center;

  color: #377d6a;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.great-input:focus {
  text-indent: -30px;
  box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.4),
    0 1px 1px rgba(255, 255, 255, 0.2);
}

.start-countdown-btn {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: none;
  border-radius: 0.6em;
  color: green;
  cursor: pointer;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  margin: 10px;
  padding: 10px 20px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  transition: 0.8s ease-in-out all;
  font-family: "Source Code Pro";
}

.start-countdown-btn:hover {
  color: #fff;
  outline: 0;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  box-shadow: 0 0 40px 40px green inset;
}
