.speed-btn {
  margin-right: 5px;
  position: relative;
  padding: 10px 20px;
  border: none;
  background: none;
  cursor: pointer;
  font-family: "Source Code Pro";
  font-weight: 900;
  text-transform: uppercase;
  font-size: 20px;
  background-color: #7fdbff;
  overflow: hidden;
  margin-bottom: 10px;
  transition: 0.8s ease-in-out all;
  border-radius: 3px;
}
