.mins {
  display: inline-block;
  width: 150px;
  font-size: 150px;
}

.secs {
  display: inline-block;
  width: 150px;
  font-size: 150px;
}

.delimeter {
  display: inline-block;
  width: 150px;
  font-size: 150px;
}

.red-text {
  color: #ff0000;
  font-family: "Source Code Pro";
  font-size: 30px;
}

.green-text {
  color: #01ff70;
  font-family: "Source Code Pro";
  font-size: 30px;
}

.control-btn {
  margin-top: 20px;
  position: relative;
  padding: 10px 20px;
  border: none;
  background: none;
  cursor: pointer;
  font-family: "Source Code Pro";
  font-weight: 900;
  text-transform: uppercase;
  font-size: 20px;
  background-color: #7fdbff;
  overflow: hidden;
  margin-bottom: 10px;
  transition: 0.8s ease-in-out all;
  border-radius: 3px;
  margin-right: 5px;
}

.control-btn:hover {
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  box-shadow: 0 0 40px 40px #39cccc inset;
}

.control-btn .resume-btn {
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 7px;
}

.control-btn .reset-btn {
  margin-left: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.label {
  display: block;
  width: 100%;
  height: 50px;
}
